html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url('https://i.ibb.co/QFhL6jRK/Gemini-Generated-Image-2tt5ir2tt5ir2tt5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h2{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}
li {
    font-size: larger;
    font-style: italic;
}
.pd {
    text-indent: 0em;
    padding-left: 1em;
}
@media (max-width: 768px) {
    h2 {
        font-size: x-large;
        padding: 0 10px;
    }
    li {
        font-size: medium;
    }
    .pd {
        padding-left: 0.5em;
    }
}
@media (max-width: 480px) {
    h2{
        font-size: large;
    }
    li {
        font-size: small;
    }
}