body{
    background-image: url('https://i.postimg.cc/dVX8WMKx/Gemini-Generated-Image-hkojghkojghkojgh.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: xx-large;
    font-style: italic;
}
p{
    font-size: larger;
    font-style: italic;
}