<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <section style="padding:2rem;text-align:center;">
    <h2>About Me</h2>
    <p>I’m Pakala Ajaybabu, currently pursuing my Bachelor of Technology in Electronics and Communication Engineering at Gayatri Vidya Parishad College of Engineering, with a CGPA of 8.3 out of 10. I completed my Intermediate at Sri Chaitanya Junior College with 913 out of 1000 marks, and my schooling at Maitreya Vidya Mandir with 552 out of 600 marks.</p>
    <p>I have a strong interest in technology, programming, and innovation — especially in areas where software and hardware come together to solve real-world problems. As part of my academic journey, I’ve worked on several projects. One of them is the Rag-Picking Rover, an IoT-based project designed for remote waste collection using a Wi-Fi-controlled camera. It gave me practical experience in teamwork, robotics, and IoT integration.Another major project I developed is Jarvis – an AI Voice Assistant using Python, which includes features like voice recognition, text-to-speech, YouTube playback, and real-time Q&A using APIs. It helped me gain strong skills in Python programming, AI/ML concepts, and API integration. I also created a Plagiarism Checker using TF-IDF vectorization and cosine similarity, which can analyze and compare text documents to detect similarities. This project improved my understanding of Natural Language Processing and feature extraction techniques.</p>
    <p>In terms of professional exposure, I have completed internships such as an Intelligent Automation Virtual Internship, AWS AI-ML Virtual Internship, and completed an internship at AD Infocom Systems in the domain of Python Programming. These experiences helped me improve my problem-solving and teamwork abilities. I have also participated in multiple project expos such as Radian 2K24 at ANITS College, Visakhapatnam, and Gamantra 2K24 at KITS College, Kakinada, where I showcased my technical projects and received positive feedback. My technical skill set includes Python, C, HTML, CSS, JavaScript, and Flask, along with tools like Git, VS Code, and Visual Studio. I also value soft skills like teamwork, adaptability, and analytical thinking, which help me perform well in collaborative environments.</p>
    <p>My short-term goal is to start my career in a company where I can apply my technical skills, learn from industry experts, and contribute to meaningful projects. My long-term goal is to grow into a skilled professional who contributes to innovative and impactful solutions in the field of software or IoT systems.</p>
  </section>
</body>
</html>