<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="intro">Hi! This is AJAY</div>
    <div class="welcome-message">Welcome to my personal portfolio — glad you’re here!</div>

    <ul>
        <li><a href="{{ url_for('resume') }}">Resume</a></li>
        <li><a href="#">Contact</a>
            <ul>
                <li><a href="mailto:ajau1215@gmail.com">Email</a></li>
                <li><a href="tel:+916304015106">Phone</a></li>
                <li><a href="https://www.linkedin.com/in/pakala-ajaybabu-8342aa291" target="_blank">LinkedIn</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('about') }}">About</a>
            <ul>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('internships') }}">Interns/Participations</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</body>
<script>
    function checkDevice() {
        const body = document.querySelector('body');
        if (window.innerWidth <= 768) {
            alert("Please switch to desktop.");
            body.style.display = "none";
        } else {
            body.style.display = "block";
        }
    }
    window.onload = checkDevice;
    window.onresize = checkDevice;
</script>
</html>
