<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <section style="padding:2rem;">
        <h3 id="education">Education</h3>
        <ul>
            <li><strong style="font-size: larger; font-style: italic;">Current</strong><br>
                <p class="pd" style="font-size: larger; font-style: italic;">Pursuing my Bachelor of Technology in Electronics and Communication Engineering at Gayatri Vidya Parishad College of Engineering, with a CGPA of 8.3 out of 10.</p>
            </li>
            <li><strong style="font-size: larger; font-style: italic;">Completed</strong><br>
                <ul>
                    <li class="comp"><strong>Intermediate</strong><br>
                        <p class="pd" style="font-style: italic;">Completed Intermediate education at Sri Chaitanya College under the Board of Secondary Education, Andhra Pradesh (Sept. 2020 – May 2022) with a percentage of 91.3%.</p>
                    </li>
                    <li class="comp"><strong>Schooling</strong><br>
                        <p class="pd" style="font-style: italic;">Completed secondary education at Maitreya Vidya Mandir under the Board of Secondary Education, Andhra Pradesh in May 2020 with 552 out of 600 marks.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</body>
</html>
