
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <section style="padding:2rem;">
    <h2>Projects</h2>
    <ul>
      <li><strong>RAG Picking Rover</strong><br>
        <p class="pd">Collaborated with a team to design and develop a Rag-Picking Rover equipped with a Wi-Fi-controlled camera for efficient remote waste collection. Contributed to research, assembly, and implementation of real-time monitoring and control features, ensuring reliable operation and user-friendly controls. This hands-on experience enhanced my skills in teamwork, technical problem-solving, and the practical application of robotics and IoT technologies in a real-world setting.</p>
      </li>
      <li><strong>Jarvis</strong><br>
        <p class="pd">Developed a personal AI voice assistant using Python, integrating voice recognition, text-to-speech, wake-word detection, and conversational logic. Features included YouTube playback, jokes, time/date retrieval, and Sera API for Q&A. This project enhanced my skills in Python, speech processing, API integration, and real-time human-computer interaction. </p>
      </li>
      <li><strong>Plagiarism Checker</strong><br>
        <p class="pd">Developed a plagiarism detection tool using Python, applying TF-IDF vectorization and cosine similarity to compare text files. Automated scanning of multiple student documents to calculate similarity scores and identify potential cases of plagiarism. This project enhanced my skills in natural language processing, feature extraction, similarity metrics, and handling real-world text datasets. </p>
      </li>
    </ul>
  </section>
</body>
</html>